@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<html>
<body>

    <h1>Contact / Hulp</h1>

    <form action="/action_page.php">
        <label for="naam">Naam</label><br />
        <input required type="text" id="naam" name="naam"><br />
        <label for="email">E-mail</label><br />
        <input required type="email" id="email" name="email"><br />
        <label for="telefoon">Telefoon</label><br />
        <input required type="number" id="telefoon" name="telefoon"><br />
        <label for="bericht">Bericht</label><br />
        <input required cols="40" rows="5" type="text" id="bericht" name="bericht"><br />
        <input type="submit" value="Verstuur">
    </form>
</body>
</html>